body{
  background-image: url(../images/back.gif);
}

.triangle{
  color: white;
  border: 10%;
  margin: 10%;
  text-align: center;
  opacity: 0.9;
}
.bold{
font-size: 18;
font-weight: bold;
font-family: sans-serif;
}
.em{
  font-style: italic;
}
